{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}



    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
            <h2 class="logo-font">IMPORTANT</h2>
                <h2 class="logo-font">Final Confirmation:</h2>
                <h3>Select new primary event instance for {{ event.name }}</h3>
                <p>This will make this event instance the live instance of this event, and all registrations for this event will now be channelled to this event instance.</p>
                 <p>Remember! Each Parents event can only have one LIVE Event Instance for the purposes of booking. You may create new Parent Events <A href="{% url 'add_event' %}">here</a> and new Event Instances of that event <A href="{% url 'add_event_instance' %}">here</a>.</p>
                
                
                
                <hr class="w-50 mb-1 brand-hr">
            </div>
        </div>

<div class="container-fluid ">
    <div class="row my-5">
        
        <div class="col-sm-6 col-md-6 col-lg-6 px-3 ">
        <h2>Select Event Instance.</h2>
        <form method="POST" action="{% url 'event_connect' event.id%}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-green skew-style rounded-0" href="{% url 'events' %}">Cancel</a>
                        <button class="btn btn-black skew-style rounded-0" type="submit">Connect Event Instance</button>
                    </div>
                </form>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 px-3 ">
        
        
        </div>
    </div>
</div>

        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                            <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    
                              
                
                </div>
                <div class="row">
                    {% for event in events %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">

                            <div class="card">
                                
                                <div class="card-block">
                                    <h4 class="card-title">{{ event.name }}</h4>
                                    
                                    
                                    
                                    <p class="card-text my-3">{{ event.keyinfo }}</p>     
                                    
                                    {% if request.user.is_superuser %}
                                    <br>
                                        <small class="ml-3">
                                            <a href="{% url 'event_profile' event.id %}" >
                                        View 
                                        </a> | 
                                            <a href="{% url 'edit_event' event.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                
                                
                    

                            </div>
                          </div>


                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
                              
                
                </div>
                <div class="row">

            </div>
        </div>
    </div>
        <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100 mx-auto">
            <img src='/media/running-walk.svg' width='20px'>
            <img src='/media/line-angle-up.svg' width='20px'>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}