{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}



    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">To complete your event creation:</h2>
                <h2 class="logo-font">Add a new event</h2>
                <h2 class="logo-font">OR</h2>
                <h2 class="logo-font">Select and edit an existing event, and select your new event instance.</h2>
                
                
                <hr class="w-50 mb-1 brand-hr">
            </div>
        </div>



        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    
                              
                
                </div>
                <div class="row">
                    {% for event in events %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">

                            <div class="card">
                                
                                <div class="card-block">
                                    <h4 class="card-title">{{ event.name }}</h4>
                                    
                                    
                                    
                                    <p class="card-text my-3">{{ event.keyinfo }}</p>     
                                    
                                    {% if request.user.is_superuser %}
                                    <br>
                                        <small class="ml-3">
                                            <a href="{% url 'event_profile' event.id %}" >
                                        View 
                                        </a> | 
                                            <a href="{% url 'edit_event' event.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                
                                
                    

                            </div>
                          </div>


                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100 mx-auto">
            <img src='/media/running-walk.svg' width='20px'>
            <img src='/media/line-angle-up.svg' width='20px'>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}