{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
<div class="container-fluid bg-green">
        <div class="row">
            <div class="col mx-auto">
            <h1 class="text-center my-5 mx-auto px-5 event-title">{{ event.name }}</h1></div>
        </div>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                
                    {% if event.image %}
                        
                            <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.name }}">
                        
                        {% else %}
                        
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL}}noimage.png" alt="{{ event.name }}">
                        
                    {% endif %}
                    <h4>Athlete Check:</h4>
                    <p>
                    
                    {% if athleteprofile.eaverified %}
                Your England Athletics number is verified. Discounts will automatically be applied to your entries by Racehub.
                {% else %}
                Your England Athletics number is invalid. Please provide a fully paid up licence number.
                {% endif %}
                
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="event-details-container mb-5 mt-md-5">
                    <h3 class="mb-0">{{ event.organiser.friendly_name }} presents the {{ event.name }}</h3>
                    {% if event.discipline %}
                                    
                                    <p class=" mt-3 mb-3">
                                        
                                        <a class="text-muted" href="{% url 'events' %}?discipline={{ events.discipline.name }}">
                                            <img src='{{ MEDIA_URL }}walking.svg' width='20px'>{{ event.discipline.friendly_name }}

                                        </a>
                                    </p>
                                    {% endif %}
                    <p class="mt-3 mb-1">Event Date: {{ event.event_instance.eventdate }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ event.price }}</p>
                    {% if event.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ event.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ event.key_info }}</p>
                    <p class="mt-3">{{ event.description|linebreaks }}</p>

                    <form class="form" action="{% url 'add_to_cart' event.event_instance.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="hidden" name="quantity" value="1" min="1" max="1" data-item_id="{{ event.event_instance.id }}" id="id_qty_{{ event.event_instance.id }}">
                                    </div>
                                    <div class="sort-select-wrapper">
                                    {% if athleteprofile.athletefirstname is None %}
                                    {% if athleteprofile.athletesurname is None %}
                                    
                                   
                                    <p class="text-danger">Your Athlete Profile is blank, so you cannot enter this event yet.</p>
                                    <a href="{% url 'edit_athlete_profile' athleteprofile.id %}" class="skew-style btn btn-black rounded-0 float-right d-block">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Edit Athlete Profile</span>
                                    </a>
                                    {% endif %}{% endif %}
                                    
                                    
                                    
                                    {% if athleteprofile.athletefirstname %}
                                    {% if athleteprofile.athletesurname %}

                                    <span>Select Which Athletes to Enter</span>
                                    <select id="id_which_athlete" name="which_athlete" class="custom-select custom-select-sm rounded-0 border ">
                                    
                                        <option value="Myself ({{ athleteprofile.athletefirstname }} {{ athleteprofile.athletesurname }}
                                        {% if athleteprofile.eaverified %} EAVerified {% endif %}
                                        ),  Athlete ID#{{ athleteprofile.id }}" selected>Myself ({{ athleteprofile.athletefirstname }} {{ athleteprofile.athletesurname }})</option>
                                        


                                        {% for f in racehubfriendsforthisathlete %}
                    
                                            {% for r in racehubfriendprofiles %}
                                                {% if r.id == f.myfriendsracehubid %}
                                                <option value="{{ r.athletefirstname }} {{ r.athletesurname }} 
                                                {% if r.eaverified %} EAVerified {% endif %}
                                                 Racehub Friend ID#
                                                {{r.id}}">{{ r.athletefirstname }} {{ r.athletesurname }}
                                                </option>
                                                
                                                {% endif %}

                                            {% endfor %}  
                                            
                                         {% endfor %}

                                        {% for f in nonracehubfriendsforthisathlete %}
                                        <option value="{{ f.athletefirstname }} {{ f.athletesurname }}
                                        
                                         {% if r.eaverified %} EAVerified {% endif %} 
                                        Family and Friend ID #{{ f.id }}">{{ f.athletefirstname }} {{ f.athletesurname }}</option>
                                        {% endfor %}
                                        
                                    </select>
                                    <p class="text-muted">Register other athletes by adding family, friends and other Racehub athletes to your profile.</p>
                                    {% endif %}{% endif %}
                                    
                                    

                                    
                                </div>
                                    
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'events' %}" class="skew-style btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Find More Events</span>
                                </a>
                                {% if athleteprofile.athletefirstname is None %}
                                {% else %}
                                <input type="submit" class="skew-style btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                                {% endif %}
                            </div>
                            {% if request.user.is_superuser %}
                            <br>
                                        <small class="ml-3">
                                            <a href="{% url 'edit_event' event.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}