{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script>
// Make a variable of an empty array and loop through the data to make a javascript object of event name, event discipline, event latitude, event longitude

$( document ).ready(function() {
    console.log( "ready!" );
var mapevents = [
    {% for event in events %}

{{ event.latitude }},
{{ event.longitude }},

{% endfor %}
];

console.log (mapevents)
});
</script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
             <h1>Map View</h1>
             <div id="mapid" class="map-large-size"></div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- References:

https://codepen.io/bbrook154/pen/RRQQyG

https://leafletjs.com/examples/quick-start/
-->
{% block postloadjs %}
    {{ block.super }}
<script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v0.min.js"></script>
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
	 <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>


<script>

navigator.geolocation.getCurrentPosition(function(location) {
  var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
  console.log(latlng)
  console.log(latlng.lat)
  console.log(latlng.lng)
  
  var greenIcon = L.icon({
    iconUrl: '{{ MEDIA_URL }}green-map-marker.png',
    shadowUrl: '{{ MEDIA_URL }}marker-shadow.png',
    iconSize:     [52, 65], // size of the icon
    shadowSize:   [29, 41], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

var homeIcon = L.icon({
    iconUrl: '{{ MEDIA_URL }}green-map-home.png',
    shadowUrl: '{{ MEDIA_URL }}marker-shadow.png',
    iconSize:     [52, 65], // size of the icon
    shadowSize:   [29, 41], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

  var mymap = L.map('mapid').setView(latlng, 8)
  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18
         }).addTo(mymap);

// Home Marker
// var marker = L.marker(latlng).addTo(mymap);
var marker = L.marker([latlng.lat, latlng.lng], {icon: homeIcon}).addTo(mymap); 

// Markers for events
{% for event in events %}
var marker = L.marker([{{ event.latitude }}, {{ event.longitude }}], {icon: greenIcon}).addTo(mymap); 
marker.bindPopup(`<b>{{ event.name }}</b><br><img src='{{ MEDIA_URL }}walking.svg' width='20px'>{{ event.discipline }} | 
<A href='{% url 'event_profile' event.id %}'>View</a>`).openPopup();  

{% endfor %}  


});
</script>
{% endblock %}