{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
</div>

</div>
{% endblock %}
{% block content %}
        <div class="container-fluid hero-header">
        <section class="container my-auto mt-150">
        <div class="row " >
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black " id="hero-logo-text">
                    Find your next running challenge.
                </h1>
                <div>
                    <h4>
                       <a href="" class="shop-now-button skew-style btn btn-lg rounded-0 text-uppercase py-3">
                       View All Events
                       </a>
                    </h4>
                </div>
            </div>
        </div>
        </section>
    </div>
{% endblock %}