{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">

        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4"><img src='{{ MEDIA_URL }}running-walk.svg' width=25px>{{ athleteprofile }}'s Organiser Dashboard
                  </h2>
                
                <hr>
            </div>
        </div>


                <div class="row">
            <div class="col-12 col-lg-4">
                
                <h2>Tools</h2><hr>
                
            </div>
            <div class="col-12 col-lg-4">
                <h2>Parent Events</h2><hr>
                
                
            </div>
            <div class="col-12 col-lg-4">
                <h2>Results & Entries</h2>
                 <hr>

                
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
            <h4>Parent Events</h4>
                <ul>
                <li>Parent events: These are the overall page for the event. Eg The London Marathon.</li>
                <li>You must ALWAYS create an event instance before you create the parent event.</li>
                <li><strong>To create a new Parent Event, create a new Event Instance for it and you will be directed to the Create Parent Event form.</strong></li>
                </ul>
                
            <h4>Event Instances</h4>
                <ul>
                <li>Event instances: These are created for each specific time an event happens. There may be many historic event instances for one event, but only one will be live for event registration.</li>
                </ul>
                <a href="{% url 'add_event_instance' %}" class="action-button skew-style btn btn-lg rounded-0 text-uppercase py-1">
                Create New Event 
                </a>

            <h4>Results</h4>
                <ul>
                <li>You can edit, delete and download results for all the events for which you are registered organiser.</li>
                </ul>
                <a href="" class="action-button skew-style btn btn-lg rounded-0 text-uppercase py-1">
                Download All Results
                </a>
                 <hr>


            
            
                
               
            </div>
            <div class="col-12 col-lg-4">

            <div class="order-history table-responsive">
            
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Event Name</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for e in events %}
                            <tr>
                            
                            <td><a href="{% url 'event_profile' e.id%}">{{ e.name }}</a</td>
                            <td><a href="{% url 'edit_event' e.id%}">Edit</a</td>
                            
                            <td><a href="{% url 'single_event_result_list' e.id%}">Entries</a></td>
                            
                            <tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
            <hr>

            
            </div>
            <div class="col-12 col-lg-4">

                    <div class="order-history table-responsive">
            
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Event Instance Name</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for e in eventinstances %}
                            <tr>
                            
                            <td><a href="{% url 'event_instance_profile' e.id%}">{{ e.friendlyname }}</a</td>
                            <td><a href="{% url 'edit_event_instance' e.id%}">Edit</a</td>
                            <td><a href="{% url 'delete_event_instance' e.id%}">Delete</a</td>
                            
                            <td><a href="{% url 'single_event_result_list' e.id%}">Results</a></td>
                            <td>{% if e.isvirtual %}
                    <a href="{% url 'review_virtual_results' e.id%}"><p> Virtual</p></a>
                    {% endif %}</td>
                            <tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <hr>

            </div>
            <section class="col-12">
            
            </section>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
   
{% endblock %}