{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
{% if athleteprofile %}
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4"><img src='/media/running-walk.svg' width=25px>{{ athleteprofile }}'s My Racehub 
                  </h2>
                
                <hr>
            </div>
        </div>
{% else %}
<h1>You have not created your My Racehub profile yet. Please complete this form to create your profile.</h1>
{% endif %}

        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4"><img src='/media/running-walk.svg' width=25px>MyRacehub Profile ID: {{ athleteprofile.id }} {{ athleteprofile.athletefirstname }}
                  </h2>
                
                <hr>
            </div>
        </div>
                <div class="row">
            <div class="col-12 col-lg-4">
                
                <h4>My Club: {{ athleteprofile.club.friendly_name }}</h4>
                
                <h4>My EA Number: {{ athleteprofile.eanumber }}</h4>
                {% if athleteprofile.eaverified %}
                Your England Athletics number is verified. Discounts will automatically be applied to your entries by Racehub.
                {% else %}
                Your England Athletics number is invalid. Please provide a fully paid up licence number.
                {% endif %}
                
                
            </div>
            <div class="col-12 col-lg-4">
                <h4>My DOB: {{ athleteprofile.dateofbirth }}</h4>
                <h4>My Gender: {{ athleteprofile.gender }}</h4>
                <h4>My Current Age Category:</h4>
                <h4>My T-Shirt Size: {{ athleteprofile.tshirtsize }}</h4>
                
            </div>
            <div class="col-12 col-lg-4">
                <h4>Emergency Contact Info</h4>
                <h4>Contact Name: {{ athleteprofile.emergencycontactname }}</h4>
                <h4>Contact Phone: {{ athleteprofile.emergencycontactphone }}</h4>
                <a href="{% url 'edit_athlete_profile' athleteprofile.id %}" class="btn btn-black rounded-0 mt-5 float-right d-block">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Edit Athlete Profile</span>
                </a>
                <br>
                <br>
                <br>
                
                

                <br>
                
                <br>
                
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-muted">My Racehub Profile:</p>
                <form class="mt-3" action="{% url 'my_racehub' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-4">
                <p class="text-muted">Event Entry Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Entries</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    
                                                    Registration for {{ item.which_athlete }} at 
                                                    {{ item.event.friendlyname }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h4>My Racehub Results</h4>
                <h5>Submit virtual results</h5>
                {% for r in resultsforthisathlete %}
                    {% if r.isvirtual %}
                            
                            {% now "Y-m-d" as todays_date %}
                            {% if todays_date < r.eventinstance.eventdate|date:"Y-m-d" %}

                            {{ r.athletefirstname }} is registered for the {{ r.eventinstance.friendlyname }} virtual event | Result Deadline: {{ r.eventinstance.eventdate }} | <a href="{% url 'edit_result_time_only' r.id %}">Submit Result</a> | <a href="{% url 'transfer_result' r.id %}">Transfer</a><br> <br>

                            {% endif %}
                        
                    {% endif %}
                {% endfor %}
                <hr>
                
                <h5>Past and confirmed results.</h5>
                    {% for r in resultsforthisathlete %}
                        
                                {{ r.eventinstance.friendlyname }}, {{ r.eventinstance.eventdate }} | <a href="{% url 'single_event_result_list' r.eventinstance.id %}">Full Results</a> | <a href="{% url 'single_result' r.id %}">My Result</a> | <a href="{% url 'transfer_result' r.id %}">Transfer</a><br>
                        
       
                    {% endfor %}

                <hr>
               
                <h4>My Racehub Friends</h4>
                <p class="text-muted">Add Racehub Athletes here to enter them for events from your shopping cart.</p>
                
                {% for f in racehubfriendsforthisathlete %}
                    
                    {% for r in racehubfriendprofiles %}
                        {% if r.id == f.myfriendsracehubid %}
                        {{ r.athletefirstname }} {{ r.athletesurname }} | remove
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                {% endfor %}
                <a href="{% url 'add_racehub_friend' %}" class="btn btn-black rounded-0 mt-5 float-right d-block">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Add Racehub Friend</span>
                </a>
                <br>


                <hr>
                <h4>Friends and Family</h4>
                <p class="text-muted">These athletes have been saved by you. They are not Racehub customers, but you can enter them for events using this saved data:</p>
                {% for f in nonracehubfriendsforthisathlete %}
                        {{ f.athletefirstname }} {{ f.athletesurname }} ID #{{f.id}},
                         is a Racehub friend of {{ f.parentprofile }}, Athlete Profile ID #{{ f.parentprofile_id }}. {% if f.eaverified %}(EA Discount Confirmed){% else%} (No EA Discount) {% endif %}<br>
                {% endfor %}
                <br>
                <a href="{% url 'add_nonracehubfriend' %}" class="btn btn-black rounded-0 mt-5 float-right d-block">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Add Friends and Family</span>
                </a><hr>
                
                
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
   
{% endblock %}