html {
    height: 100%;
}

body {
    background: url('/media/TrailHalf.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Oswald';
    
}
body h1, body h2, body h3, body .btn {
    font-family: 'Racing Sans One';
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    -moz-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    -o-transform: skew(-5deg, 0deg);
    -ms-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
}

.skew-style {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

#hero-logo-text {
    margin-left: 10px;
    color: white !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;

    
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}