html {
    height: 100%;
}

body {

    color: #000;
    font-family: 'Oswald';

    
}
body h1, body h2, body h3, body .btn {
    font-family: 'Racing Sans One';
}

:root {
  --primary-color: #31c731;
  --primary-color-dark: #0e8000;
  --primary-color-light: #94e19b;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid var(--primary-color);
    margin: auto; padding: 0px 0px 20px 0px; margin-top: 20px; }


/*** Home Page ***/
/* hero header */

.hero-header {
    background: url('/media/main-header-pic.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 15vw;
    
    height: 70vh;
   
}
/*  */
.navbar-container {
    border-bottom: solid 1px var(--primary-color-dark);
}

/* logo-overlap */
.logo-overlap {
    margin-top: -10vw;
    width: 90vw;

    margin-left: 0vw;
}

/* Search tools in page nav - sticky navbar */

.stickynav {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    z-index: 9;
}

.main-content {
    margin-top: 220px;
}

.main-content-higher {
    margin-top: 180px;
}

/* Footer and dark sections */
.page-footer {
    margin-top: 40px;
}

.page-footer, .page-footer .container, .page-nav, .page-nav .container {
    background-color: var(--primary-color-dark);
    color: white;
}


.page-footer .logo-font{
    float: left;
}
.page-nav a {
    color: black;
}

.page-footer a {
    color: white;
    text-decoration: underline;
}

.page-nav span {
    color: white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    -moz-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    -o-transform: skew(-5deg, 0deg);
    -ms-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
}

.skew-style {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

#hero-logo-text {
    margin-left: 10px;
    color: white !important;
    font-size: 24pt; 
}

.main-logo-link {

    width: fit-content;
}

.shop-now-button {
    background: var(--primary-color-dark);
    color: white;  
}

.action-button {
    background: var(--primary-color);
    color: white;
    min-width: 130px;
    margin-bottom: 20px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-small {
    padding: 5px;
    border-radius: 0px;
}

.btn-outline-black, .btn-outline-green {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-green {
    background: white;
    color: var(--primary-color-dark) !important; /* use important to override link colors for <a> elements */
    border: 1px solid var(--primary-color-dark) ;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: var(--primary-color-dark);
    color: white !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}



.border-black {
    border: 1px solid black !important;
}

.highlight-section {
    background-color: black;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: var(--primary-color-dark);
    padding: 30px;
    
}

/* Page layout */

.nav-section {

margin-top: 120px;
margin-bottom: 120px;
}

.first-row {
    margin-bottom: 80px;
}

.custom-select {
    border: solid 1px black;
}

/* ---- News ticker ---- */

/* Code snippet from https://bbbootstrap.com/snippets/bootstrap-scrolling-breaking-news-ticker-53214404 */

/* Make runner appear to be running left */
.scroll-icon {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0px 8px;
}

.news {
    width: 160px
}

.news-scroll a {
    text-decoration: none;
    color: var(--primary-color-dark);
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block
}

.bg-green {
    background: var(--primary-color-dark);
    color: white;
}

/*-------------------------------------------
Image Cards
---------------------------------------------*/
#our-program {
    padding: 70px 0;
    background: #fff;
}

#our-program .top {
    margin-bottom: 50px;
}

.card {
    overflow: hidden;
    border-radius:0;
    position: relative;
    background: #fff;
    text-align: center;
    border: solid 1px var(--primary-color-dark);;

}
.card-action-section {
        min-height: 380px;
}

.event-card {
        min-height: 570px;
}
.nav-card {
    min-height: 380px;
    margin-bottom: 40px;
}

.top-card {
    padding: 5vh 10vw;
    margin-bottom: 40px;
}

.top-card ul {
list-style: "→";
}
.top-card li {
    font-size: 18pt;
}


.card-img-top {
  max-height: 250px;
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  transition: .3s all;
}

.card:hover .card-img-top img {
  transform: scale(1.2);
}

.card .card-img-top{
    width: 110%;
    height: 100%;
}

.card h4 {
    padding: 25px 0px;
    font-weight: 700;
}

.card .card-text {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-footer {
    background: var(--primary-color);
    padding: 10px 30px;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
}

.green-card {
    background: var(--primary-color-dark);
    border: solid 1px black;
}

.black-card {
    background-color: black;
    border: solid 1px var(--primary-color-dark);
}

.green-card, .black-card {
    color: white;
}
/* override bootstrap color code only for special card colors - therefore important used */
.green-card a {
    color: white !important;
}

.black-card a {
    color: white !important;
}

.race-icon {
    display: inline-block;
    width: 20px;
    padding-right: 5px;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.map-large-size { 
  height: 70vw;
  width: 98vw;
  background-repeat: no-repeat;
background: url("https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-medium-size { 
  height: 30vh;
  width: 100%;

background-repeat: no-repeat;
background: url("https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}
.map-medium-size:before, .map-large-size:before {
    content: "Please Allow Location Access in your browser so Race Hub can find events near you...";
    font-size: 24px;
    font-weight: 100;
    padding: 80px;
    margin-left: 10%;
}


.btt-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar-expand-lg {
        justify-content: center;

    }


}



/* Table formatting (Using Bootstrap List Groups to display data in tables)*/

.list-group-horizontal .list-group-item+.list-group-item {

    padding-left: 2px;
    padding-right: 2px;
    
}

.green-row {
    background-color: #91b591;
    
}
.green-row a {
    
}

.top-row .list-group-item{
    background-color: black;
    color: white; 
}

.column-tiny {
    flex-basis: 2%;
    padding-left: 1px;
    padding-right: 0px;
    max-width: 2vw;
    min-width: 2vw;
}

.column-small {
    flex-basis: 5%;
    
    max-width: 5vw;
    min-width: 5vw;
}
.column-medium {
    flex-basis: 15%;
    
    max-width: 15vw;
    min-width: 15vw;
    }
.column-large {
    flex-basis: 20%;
    
    max-width: 20vw;
    min-width: 20vw;
    }
.column-extra-large {
    flex-basis: 25%;
    
    max-width: 30vw;
    min-width: 30vw;
    }


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 200;
    font-family: 'Racing Sans One';
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
        -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: var(--primary-color-dark);
    background-color: #fff;
    border-color: var(--primary-color-dark);
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*** Classes for Main Nav ***/

/* Move content to appear below header */
.header-container {
        padding-top: 80px;
    }


.megamenu-li {
	position: static;
}

.list-group {
    max-width: 95vw;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
}
.dropdown-menu.megamenu {
max-height: 60vh;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.dropdown-menu {
    
    margin-top: -2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(135, 252, 120, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(14,128,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(14,128,0,0.4);
}

#logo-font-text {
    display: inline-block;
    width: 50px;
} 
@media (min-width: 992px) {
.header-container {
        padding-top: 130px;
    }
}
/* Use max-width as header items will not display properly if d-inline or d-block are used */
@media (max-width: 992px) {
.desktop-bar {
    display: none;
}

}

/*** End of Main Nav ***/


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

}

@media (min-width: 992px) {

.hero-header {
   height: 60vh;
padding-top: 5vw;
 
}
/* larger map on home page */
.map-medium-size { 
  height: 50vh;

}

/* resize logo and position right */
.logo-overlap {
    margin-top: -5.5vw;
    width: 50vw;
margin-left: 25%;
}

  .top-card {
    min-height: 47vh;
    padding: 3vw ;
}
}

/* Responsive text in header */
@media screen and (min-width: 768px) {
  #hero-logo-text {
    font-size: 42pt; 
    }
    .shop-now-button {

    min-width: 260px;  
}


/* Results view */
.column-tiny {
    flex-basis: 2%;
    padding-left: 1px;
    padding-right: 0px;
    max-width: 2vw;
    min-width: 2vw;
}

.column-small {
    flex-basis: 5%;
    
    max-width: 5vw;
    min-width: 5vw;
}
.column-medium {
    flex-basis: 15%;
    
    max-width: 10vw;
    min-width: 10vw;
    }
.column-large {
    flex-basis: 20%;
    
    max-width: 10vw;
    min-width: 10vw;
    }

.column-extra-large {
    flex-basis: 25%;
    
    max-width: 25vw;
    min-width: 25vw;
    }

/* Push main content below sticky page tools (narrower on larger screens) */
.main-content {
    margin-top: 140px;
}


.main-content-higher {
    margin-top: 120px;
}

.top-card ul {

list-style-image: url('https://race-hub.s3.eu-west-2.amazonaws.com/running-walk.png');
}

}