html {
    height: 100%;
}

body {

    
    
    color: #000;
    font-family: 'Oswald';
    
    
}
body h1, body h2, body h3, body .btn {
    font-family: 'Racing Sans One';
}



/* hero header */

.hero-header {
    background: url('/media/TrailHalf.jpg') no-repeat top center fixed;
    background-size: cover;
    padding: 10vw 0vw;
    
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    -moz-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    -o-transform: skew(-5deg, 0deg);
    -ms-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
}

.skew-style {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

#hero-logo-text {
    margin-left: 10px;
    color: white !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;

    
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }


}

/*** Classes for Main Nav ***/

/* Move content to appear below header */
.header-container {
        padding-top: 80px;
    }

.megamenu-li {
	position: static;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
}
.dropdown-menu.megamenu {
height: 60vh;
  max-height: 60vh;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; // mobile safari

}

#logo-font-text:{
    display: inline-block;
width: 50px;
} 
@media (min-width: 992px) {
.header-container {
        padding-top: 130px;
    }
}
/* Use max-width as header items will not display properly if d-inline or d-block are used */
@media (max-width: 992px) {
.desktop-bar {
    display: none;
}
}

/*** End of Main Nav ***/