
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		  </button>
    <div class="collapse navbar-collapse" id="navbar">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Events</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>View All Events</h5>
                <a href="" class="dropdown-item">Map View</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'events' %}" class="dropdown-item">All Events</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>More Links</h5>
          <a class="dropdown-item" href="#">By Region</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Discipline</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>Popular Disciplines</h5>
                <a href="{% url 'events' %}?discipline=road" class="dropdown-item">Road</a>
                <a href="{% url 'events' %}?discipline=fell" class="dropdown-item">Fell</a>
                <a href="{% url 'events' %}?discipline=trail" class="dropdown-item">Trail</a>
                <a href="{% url 'events' %}" class="dropdown-item">All</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>More Disciplines</h5>
          <a class="dropdown-item" href="{% url 'events' %}?discipline=triathlon">Triathlon</a>
          <a class="dropdown-item" href="{% url 'events' %}?discipline=adventure_racing">Adventure Racing</a>
          <a class="dropdown-item" href="{% url 'events' %}?discipline=orienteering">Orienteering</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Distance</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
        <div class="col-sm-6 col-lg-3">
          <h5>Distances</h5>
          <a class="dropdown-item" href="#">5k</a>
          <a class="dropdown-item" href="#">10k</a>
          <a class="dropdown-item" href="#">Half Marathon</a>
          <a class="dropdown-item" href="#">Marathon</a>
          <a class="dropdown-item" href="#">Ultra</a>
          <a class="dropdown-item" href="{% url 'events' %}">All</a>
         </div>
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
         </div>
        </div>
       </div>
      </li>

      
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Format</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Event Formats</h5>
                <a href="" class="dropdown-item">Mass Start</a>
                <a href="" class="dropdown-item">Split or Ind Start</a>
                <a href="" class="dropdown-item">Virtual</a>
                <a href="{% url 'events' %}" class="dropdown-item">All Formats</a>
         </div>
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Race Results</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>Find Results ...</h5>
                <a href="" class="dropdown-item">My Results</a>
                <a href="" class="dropdown-item">All Recent Results</a>
                <a href="" class="dropdown-item">By Event Organiser</a>
                <a href="" class="dropdown-item">All</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>By Discipline</h5>
          <a class="dropdown-item" href="#">Road</a>
          <a class="dropdown-item" href="#">Trail</a>
          <a class="dropdown-item" href="#">Fell</a>
          <a class="dropdown-item" href="#">Triathlon</a>
          <a class="dropdown-item" href="#">Adventure Racing</a>
          <a class="dropdown-item" href="#">Orienteering</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
       <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organise</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Links</h5>
          <a class="dropdown-item" href="#">What we offer</a>
          <a class="dropdown-item" href="#">How it works</a>
          <a class="dropdown-item" href="#">Prices</a>
          <a class="dropdown-item" href="#">My Events</a>
         </div>
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
          <h4>
                       <a href="" class="shop-now-button skew-style btn btn-lg rounded-0 text-uppercase py-3">
                       Become an organiser
                       </a>
          </h4>
         </div>
        </div>
       </div>
      </li>
     </ul>
    </div>


<div class="collapse navbar-collapse" >

</div>