<script>
// $(document).ready(function() {
//	$(".megamenu").on("click", function(e) {
//		e.stopPropagation();
//	});
// });

</script>



 <!-- MOBILE NAV -->  
 <!---
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Find your next event">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
-->
<!-- END MOBILE NAV -->  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		  </button>
    <div class="collapse navbar-collapse" id="navbar">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Events</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>View All Events</h5>
                <a href="" class="dropdown-item">Map View</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Events</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>More Links</h5>
          <a class="dropdown-item" href="#">By Region</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Discipline</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>Popular Disciplines</h5>
                <a href="" class="dropdown-item">Road</a>
                <a href="" class="dropdown-item">Fell</a>
                <a href="" class="dropdown-item">Trail</a>
                <a href="" class="dropdown-item">All</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>More Disciplines</h5>
          <a class="dropdown-item" href="#">Triathlon</a>
          <a class="dropdown-item" href="#">Adventure Racing</a>
          <a class="dropdown-item" href="#">Orienteering</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Distance</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
        <div class="col-sm-6 col-lg-3">
          <h5>Distances</h5>
          <a class="dropdown-item" href="#">5k</a>
          <a class="dropdown-item" href="#">10k</a>
          <a class="dropdown-item" href="#">Half Marathon</a>
          <a class="dropdown-item" href="#">Marathon</a>
          <a class="dropdown-item" href="#">Ultra</a>
          <a class="dropdown-item" href="#">Other</a>
         </div>
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
         </div>
        </div>
       </div>
      </li>

      
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Format</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Event Formats</h5>
                <a href="" class="dropdown-item">Mass Start</a>
                <a href="" class="dropdown-item">Split or Ind Start</a>
                <a href="" class="dropdown-item">Virtual</a>
                <a href="" class="dropdown-item">All Formats</a>
         </div>
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Race Results</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
        <div class="row">
         <div class="col-sm-6 col-lg-3">
          <h5>Find Results ...</h5>
                <a href="" class="dropdown-item">My Results</a>
                <a href="" class="dropdown-item">All Recent Results</a>
                <a href="" class="dropdown-item">By Event Organiser</a>
                <a href="" class="dropdown-item">All</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>By Discipline</h5>
          <a class="dropdown-item" href="#">Road</a>
          <a class="dropdown-item" href="#">Trail</a>
          <a class="dropdown-item" href="#">Fell</a>
          <a class="dropdown-item" href="#">Triathlon</a>
          <a class="dropdown-item" href="#">Adventure Racing</a>
          <a class="dropdown-item" href="#">Orienteering</a>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Paragraph</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Image</h5>
          <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
         </div>
        </div>
       </div>
      </li>
       <li class="nav-item dropdown megamenu-li">
       <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organise</a>
       <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
        <div class="row">
         <div class="col-sm-6 col-lg-4">
          <h5>Image Slider</h5>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=1" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=2" alt="...">
            </div>
            <div class="carousel-item">
             <img class="d-block w-100" src="https://source.unsplash.com/250x150/?sig=3" alt="...">
            </div>
           </div>
          </div>
         </div>
         <div class="col-sm-6 col-lg-3">
          <h5>Links</h5>
          <a class="dropdown-item" href="#">What we offer</a>
          <a class="dropdown-item" href="#">How is works</a>
          <a class="dropdown-item" href="#">Prices</a>
          <a class="dropdown-item" href="#">My Events</a>
         </div>
         <div class="col-sm-6 col-lg-5">
          <h5>Paragraph</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit itaque minus distinctio possimus reiciendis et repellat. Voluptate, temporibus veniam et praesentium alias, maxime repudiandae aliquid, natus omnis animi iste!</p>
          <h4>
                       <a href="" class="shop-now-button skew-style btn btn-lg rounded-0 text-uppercase py-3">
                       Become an organiser
                       </a>
          </h4>
         </div>
        </div>
       </div>
      </li>
     </ul>
    </div>


<!--
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Events</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Discipline
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Road</a>
                <a href="" class="dropdown-item">Fell</a>
                <a href="" class="dropdown-item">Trail</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Distances
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">5k</a>
                <a href="" class="dropdown-item">10k</a>
                <a href="" class="dropdown-item">Half Marathon</a>
                <a href="" class="dropdown-item">Marathon</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Format
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Mass Start</a>
                <a href="" class="dropdown-item">Split or Ind Start</a>
                <a href="" class="dropdown-item">Virtual</a>
                <a href="" class="dropdown-item">All Formats</a>
            </div>
        </li>
    </ul>
</div>